* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: coolvetica;
    src: url(coolvetica.otf);
}
@font-face {
    font-family: metropolis;
    src: url(metro-light.ttf.otf);
}
@font-face {
    font-family: texgyre;
    src: url(texgyreadventor-regular.otf);
}
@font-face {
    font-family: texgyre-bold;
    src: url(texgyreadventor-bold.otf);
}
@font-face {
    font-family: robotocondensed;
    src: url(RobotoCondensed-Light.ttf);
}
body {
    background: linear-gradient(120deg, #5a5a5a, #272727);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parent {
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
}
.logo {
    color: #ffffff;
    font-size: 3.9vmin;
    font-family: coolvetica;
    margin-bottom: 151px;
}
.websitelogo {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 4vmin 6vmin;
    z-index: 1;
}
.navbar {
    display: flex;
    flex-direction: column;
    margin-right: -10px;
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.3vmin;
    font-family: metropolis;
    padding: 7px;
    margin: 8px 0;
    line-height: 17px;
    text-align: right;
    right: 0;
    position: relative;
    transition: transform 0.4s ease;
}
.navbar a::before {
    content: '';
    position: absolute;
    left: -10px; 
    top: 50%;
    transform: translateY(-50%);
    border: solid transparent;
    border-width: 7px;
    border-left-color: #ffffff;
    transition: opacity 0.8s ease;
    opacity: 0;
}
.navbar a:hover::before {
    opacity: 1;
}
.navbar a:hover {
    transform: translateX(8%);
}
.lefttitle {
    height: 100%;
    width: 40%;
    display: flex;
    margin-left: calc(1.4vw + 3.4vh);
}
.tagline {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.leftmaintitle {
    width: 20vw;
    font-size: 6vw;
    font-family: coolvetica;
    display: flex;
    height: 15vw;
    line-height: 6vw;
    align-items: center;
}
.subheading {
    height: 10vw;
    width: 20vw;
    display: flex;
    color: white;
    align-items: flex-start;
    font-family: metropolis;
    font-size: 1.3vw;

}
.spanBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 4vmin 6vmin;
    z-index: 1;
}
.logopic {
    height: 5.5vmin;
}
.mulawin {
    font-family: coolvetica;
    color: white;
    font-size: 2.4vmin;
}
.tanza {
    font-family: metropolis;
    color: rgb(203, 203, 203);
    font-size: 2.4vmin;
}
.psychological {
    font-family: coolvetica;
    color: white;
    font-size: 2.4vmin;
}
.clinic {
    font-family: metropolis;
    color: rgb(203, 203, 203);
    font-size: 2.4vmin;
}
.location, .psycho {
    font-size: 2.4vmin;
}
.arrow {
    height: 4vmin;
    transition: transform 0.5s ease;
    display: none;
}
.righttitle {
    width: 60%;
    height: 100hvh;
 
}
.boxappoint {
    height: 30vw;
    width: 54.9vw;
    position: absolute;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    border-radius: 20px;
    margin-bottom: 6vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    padding-top:2%;
    padding-bottom:2%;
}

.namecontact {
    height: 2.5vw;
    width: 90%;
    display: flex;
    gap: 10vw;
}
.forname {
    padding-left: 20px;
    width: 19vw;
    outline: none;
    border: none;
    border-bottom: 1px solid #272727;
    font-family: metropolis;
}
.forcontact {
    width: 15vw;
    outline: none;
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid #272727;
    font-family: metropolis;
}
.genderage {
    height: 2.5vw;
    width: 90%;
    display: flex;
    gap: 10vw;
}
.forgender {
    width: 15vw;
    outline: none;
    border: none;
    background-color: #ffffff; /* Set background color to white */
    font-family: metropolis;
}

.fordob {
    width: 15vw;
    outline: none;
    border: none;
    background-color: #ffffff; /* Set background color to white */
    font-family: metropolis;
}

.doblabel {
    display: flex;
    align-items: center;
    font-family: coolvetica;
}

.forage {
    width: 5vw;
    outline: none;
    border: none;
    border-bottom: 1px solid #272727;
    font-family: metropolis;
    padding-left: 20px;
}
.services {
     height: 2.5vw;
    width: 90%;
    display: flex;
    gap: 2vw;
}
.forservices {
    width: 25vw;
    outline: none;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid #272727;
    font-family: metropolis;
}
.case {
    background-color: rgb(216, 216, 216);
    height: 8vw;
    width: 90%;
    display: flex;
    gap: 10vw;
}
.servlabel {
    display: flex;
    align-items: center;
    font-family: coolvetica;
}
.forcase {
    width: 55vw;
    outline: none;
    border: none;
    border-bottom: 1px solid #272727;
    font-family: metropolis;
    overflow-x: scroll;
}
.submit-but {
    height: 2vw;
    width: 5vw;
    align-self: flex-start;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background-color: #3b3b3b;
}
.fortime {
    width: 15vw;
    outline: none;
    border: none;
    background-color: #ffffff; /* Set background color to white */
    font-family: metropolis;
}

.timelabel {
    display: flex;
    align-items: center;
    font-family: coolvetica;
}


/*Thervs code*/
.forname::placeholder {
    font-size: 15px;
    letter-spacing: 2px;
    font-family: coolvetica;
}
.forcontact::placeholder {
    font-size: 15px;
    letter-spacing: 2px;
    font-family: coolvetica;

} 
.outer-notif {
    width:100%;
    height:100vh;
    background: black;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    transition: transform 3s ease-in-out;
    transform: translateY(-1000px);
}
.notif {
    width:90%;
    height:90vh;
    background: #ffffff;
    border-radius: 2%/5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.show-notif {
    transform: translateY(0);
}
h2 {
font-family: coolvetica;
}
