





/** FONTS **/

@font-face {
    font-family: coolvetica;
    src: url(coolvetica.otf);
}
@font-face {
    font-family: metropolis;
    src: url(metro-light.ttf.otf);
}
@font-face {
    font-family: texgyre;
    src: url(texgyreadventor-regular.otf);
}
@font-face {
    font-family: robotocondensed;
    src: url(RobotoCondensed-Light.ttf);
}

/** FONTS **/

@keyframes auroraAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


         @media (max-width: 1000px) {

            body {
                margin: 0;
                background: linear-gradient(120deg, #673ba3, #60307f,#60307f, #39354a) !important;
                background-size: 100% 100%;
                background-attachment: fixed;
                animation: auroraAnimation 7s ease-in-out infinite;
            }
            .logopic, .location, .psycho, .arrow  {
                display: none !important;
            }
            .logo {
                display: none;
            }
            .navbar a {
                display: none;
            }
            .mobile-site {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 30px 40px;
                z-index: 30 !important;
               
            }
            .sample1, #tagline {
                display: none;
            }
            
            .mobile-logo {
                width: 30px;
                display: block;
                z-index: -10 !important;
            }
            .mainlogo {
                display: flex;
                gap: 10px;
                margin-left: 15px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100px;
                z-index: 10 !important;
            }
            .mob-logo {
                display: block;
                font-family: coolvetica;
                font-size: 25px;
                color: white;
                margin-top: -4px;
                z-index: -10 !important;
            }
            #mainlogo {
                display: flex !important; 
                transition: 0.5s;
            }
            #bar1, #bar2, #bar3 {
                background-color: #ffffff;
                transition: all 0.1s;
            }
             #bar1.black {
                background-color: #000000;
            }
            #bar2.black {
                background-color: #000000;
            }
            #bar3.black {
                background-color: #000000;
            }
            #bar1 {
                z-index: 20 !important;
                position: relative;
                top: 0;
                margin-left: -12px;
                width: 13px;
                height: 3px;
                transition: 0.4s;
            }
            
            #bar2 {
                z-index: 20 !important;
                width: 25px;
                height: 3px;
        
                transition: 0.4s;
            }
        
            #bar3 {
                z-index: 20 !important;
                position: relative;
                bottom: 0;
                margin-right: -12px;
                width: 13px;
                height: 3px;
        
                transition: 0.4s;
            }
            #bar1, #bar3 {
                transform: translateY(0);
            }
            #bar2 {
                opacity: 1;
            }
            .hamburger.active #bar1 {
                width: 25px;
                height: 3px;
                margin-left: 0;
                background-color: black;
                transform: translateY(8px) rotate(-45deg);
            }
            .hamburger.black #bar1 {
                background-color: #000000;
            }
        
            .hamburger.active #bar2 {
                opacity: 0;
            }
              
            .hamburger.active #bar3 {
                background-color: black;
                height: 3px;
                margin-right: 0;
                width: 25px;
                transform: translateY(-8px) rotate(45deg);
            }
            .sliding-div {
                z-index: 41 !important;
                display: flex !important;
                position: fixed;
                top: 0;
                right: -120vw;
                width: 100vw;
                height: 100%;
                background-color: #ffffff;
                color: #000000;
                z-index: 32;
                transition: right 0.5s ease-in-out;
                align-items: center;
                
                justify-content: start;
                
                font-size: 12vw;
                font-family: metropolis;
              }
              .wrapper {
                font-size: 15vw;
                padding: 40px;
                gap: 10px;
                display: flex;
                flex-direction: column;
              }
            .sliding-div.slide-in {
                right:  0vw;
              }
              .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: black;
                transition: all 0.4s ease;
                display: none; 
                z-index:40; 
            }
            .overlay.overlay-visible {
                display: block;
                opacity: 0.5;
            }
            
            .hamburger {
                position: fixed;
                top: 34px;
                right: 43px;
                margin-right: -4px;
                width: 30px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                cursor: pointer;
                color: white;
                overflow: hidden;
                z-index: 42 !important;
            }
        
            .spanBottom-mob {
                display: flex !important;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 30px 40px;
                z-index: 1;
            }
            .mob-loc {
                display: flex;
                align-items: center;
                gap: 10px;
                line-height: 17px;
                width: 200px;
                margin-left: 4px;
            }
            .pin {
                width: 20px;
                display: block;
            }
            .loc {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: coolvetica;
                color: white;
                margin-top: -4px;
                z-index: -3;
            }
            .aznat {
                font-family: metropolis;
                font-size: 17px;
                opacity: 0.5;
            }
            .arrow1 {
                height: 40px;
            }
            .mob-title {
                display: flex !important;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: -3;
            }
            .mob-heading {
                color: white;
                font-size: calc(7vw + 1vh);
                font-family: texgyre;
                line-height: 9vw;
                padding-bottom: 20px;
            }
            .mob-tagline {
                text-align: justify;
                text-align-last: justify;
                font-size: 4vw;
                width: 45vw;
                opacity: 0.5;
                color: white;
                font-family: robotocondensed;
            }
            #hamburgerBtn {
                display: none !important;
            }
        
            .services-nav {
                position: absolute;
                top: 0;
                height: calc(5px + 5px) !important;
                width: 100%;
                background-color: aqua;
                z-index: 20;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 30px 30px;
            }
        
            .services-indicator::before {
                content: '';
                position: absolute;
                left: 44px !important; 
                top: 50%;
                transform: translateY(-50%);
                border: solid transparent;
                border-width: 7px;
                border-left-color: #000000;
                transition: opacity 0.8s ease;
                
            
            }

            .div2 {

                height: 100vh;

            }
        
            .main-div {
        
                flex-direction: column;
                display: flex;
                
            }

            .left-div {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

            }
        
        
            
                .web-main-tit {

                    padding-bottom: 20px;  
                    
                }
            
                .title-main {

                    line-height: 10vmin;
                    font-size: 5vmin;
                    font-weight: 100;
                    margin-right: 25vmin;
                    
                    


                }
         
            
                .web-sub-tit {
                    
                    font-size: 14px * 1vmin;
                    margin-right: 12vw;

                

        
                }
            
            
                .sub-main {

                    font-size: 4.5vmin;
                    margin: 0%;
                   
                    justify-content: center;
                    padding-right: 4.8vmin;
                   

                }
            
            
                


                

                .service {
    
                   font-size: 3vw;
        
                 }
        
        
                 .web-app-but {     
        
                display: none;  
        
                 }

                 .right-div {

                    flex-wrap: wrap;
                    margin-left: 5vw;

                 }

                
                 
         .start-div {

            background-color: rgba(186, 186, 186, 0.572);
            margin: 3vw;
            padding: 8vh;
            width: 75%;
            padding-left:20px;
            padding-right:20px;
            font-size: -20vw;
            margin-top: 8%;
            

            
            
         }

         .mid-div {
            
            background-color: rgba(186, 186, 186, 0.572);
            margin: 3vw;
            padding: 8vh;
            width: 75%;
            padding-left:20px;
            padding-right:20px ;
            font-size: -20vw;
            

         }

         .end-div {

            
            background-color: rgba(186, 186, 186, 0.572);
            margin: 3vw;
            padding: 8vh;
            width: 75%;
            padding-left:20px ;
            padding-right: 20px;
            font-size: -20vw;

      
         }

         .web-app-but-mob {

            padding-right: 100%;
            
            
            }
            
            .button:hover {
                animation: ani 8s linear infinite;
                border: none;
                }
                
                @keyframes ani {
                0% {
                background-position: 0%;
                }
                
                100% {
                background-position: 400%;
                }
                }
                
                .button {
                height: 35px;
                width: 140px;
                position: relative;
                background-color: transparent;
                cursor: pointer;
                border: 1.5px solid #252525;
                overflow: hidden;
                border-radius: 10px;
                color: #222222;
                transition: all 0.8s ease-in-out;
                font-family: 'coolvetica';
                transition: 0.4s;
                margin-left: 28vw;
                margin-top: 6vh;
               
                }
                
                .button:active {
                scale: 1.1;
                }
                
                .btn-txt-mob {
            
                z-index: 1000;
                font-weight: 100;
                font-size: 15px;
                color: #333
            
                }
                
                .type1-mob::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                transition: all 0.5s ease-in-out;
                background-color: #333;
                border-radius: 30px;
                visibility: hidden;
                height: 10px;
                width: 10px;
                z-index: 0;
                
                }
                
                .button:hover {
                box-shadow: 1px 1px 200px #ffffff;
                color: #000000;
                border: none;
                }
                
                .type1-mob:hover::after {
                visibility: visible;
                transform: scale(100) translateX(2px);
                
                
                }
                
            
               
        
    

}
.sliding-div {
    display: none;
}
.slider {
    display: none;
}
.spanBottom-mob {
    display: none;
}
#mainlogo {
    display: none;
}
.mob-title {
    display: none;
}
html {
    scroll-behavior:smooth;
  }
body {
    margin: 0;
    background: linear-gradient(120deg, #CF9BDD, #A560D2, #534FBD,#40496A,#38453C);
    background-size: 300% 300%;
    background-attachment: fixed;
    animation: auroraAnimation 7s ease-in-out infinite;
    
}
.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300vh;
    width: 100%;
}
.div1 {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.websitelogo {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 4vmin 6vmin;
    z-index: 1;
}
.logo {
    color: #ffffff;
    font-size: 3.9vmin;
    font-family: coolvetica;
    margin-bottom: 151px;
}
.navbar {
    display: flex;
    flex-direction: column;
    margin-right: -10px;
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.3vmin;
    font-family: metropolis;
    padding: 7px;
    margin: 8px 0;
    line-height: 17px;
    text-align: right;
    right: 0;
    position: relative;
    transition: transform 0.4s ease;
}
.navbar a::before {
    content: '';
    position: absolute;
    left: -10px; 
    top: 50%;
    transform: translateY(-50%);
    border: solid transparent;
    border-width: 7px;
    border-left-color: #ffffff;
    transition: opacity 0.8s ease;
    opacity: 0;
}
.navbar a:hover::before {
    opacity: 1;
}
.navbar a:hover {
    transform: translateX(8%);
}
.div2 {
    margin-top: 100vh;
    background-color: white;
    height: 200vh;
    width: 100  %;
    z-index: 38;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sample1 {
    color: white;
    font-size: calc(2.6vh + 2.0vw);
    font-family: texgyre;
    margin: 0;
    line-height: calc(3vw +  1.2vh); 
}
.tagline {
    display: block;
    text-align: justify;
    text-align-last: justify;
    font-family: robotocondensed;
    color: white;
    opacity: 0.5;
    font-size: calc(1.6vw + 1vh);
    margin-right: calc(18.1vw + 40px);
}
.spanBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 4vmin 6vmin;
    z-index: 1;
}
.logopic {
    height: 5.5vmin;
}
.mulawin {
    font-family: coolvetica;
    color: white;
    font-size: 2.4vmin;
}
.tanza {
    font-family: metropolis;
    color: rgb(203, 203, 203);
    font-size: 2.4vmin;
}
.psychological {
    font-family: coolvetica;
    color: white;
    font-size: 2.4vmin;
}
.clinic {
    font-family: metropolis;
    color: rgb(203, 203, 203);
    font-size: 2.4vmin;
}
.location, .psycho {
    font-size: 2.4vmin;
}
.arrow {
    height: 4vmin;
    transition: transform 0.5s ease;
}
.arrow:active {
    transform: translateY(15%);
}
.div3 {
    
    height: 100vh;
    width: 100%;
    background-color: brown;
    z-index: 4;
    margin-top: 40  vh;
}
.services-nav {
    position: relative;
    top: 0;
    height: calc(1vw + 1vh);
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}
.services-indicator {
    font-size: 1vw;
    font-family: metropolis;
    padding-left: 2vw; 
    color: rgb(0, 0, 0);
    opacity: 0.5;
}
.services-ham {
    top: 34px;
    right: 43px;
    margin-right: px;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    z-index: 34 !important;
}
#bar1-hamb {
    z-index: 20 !important;
    position: relative;
    top: 0;
    margin-left: -19px;
    width: 50%;
    height: 3px;
    background-color: #000000;
    transition: 0.4s;
}
#bar2-hamb {
    z-index: 20 !important;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transition: 0.4s;
}

#bar3-hamb {
    z-index: 20 !important;
    position: relative;
    bottom: 0;
    margin-right: -19px;
    width: 50%;
    height: 3px;
    background-color: #000000;
    transition: 0.4s;
}
.services-ham.active #bar1-hamb {
    transform: rotate(-45deg);
    top: 10px;
    width: 100%;
    margin-left: 0;
}

.services-ham.active #bar2-hamb {
    opacity: 0;
}

.services-ham.active #bar3-hamb {
    transform: rotate(45deg);
    top: -8px;
    width: 100%;
    margin-right: 0;
}

.services-indicator::before {
    content: '';
    position: absolute;
    left: 6vmin; 
    top: 50%;
    transform: translateY(-50%);
    border: solid transparent;
    border-width: 7px;
    border-left-color: #000000;
    transition: opacity 0.8s ease;
}

.services-title {
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 100;
    
}

.main-div {

    display: flex;
    

}

.left-div {

    background-color: rgb(255, 255, 255)  ;
    width: 100%;
    height: 80vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.web-main-tit {

    
    line-height: 9vmin;
    

}

.title-main {

    
    font-size:  10vmin;
    font-family: 'coolvetica';
    margin-left: 12vw;
    font-weight: 100;
    

}

.web-sub-tit {

 margin-left: 20px;
 font-size: 14px * 1vmin;
 font-family: 'metropolis';



}

.minds {

    background: -webkit-linear-gradient( -45deg, #CF9BDD, #A560D2, #534FBD, #40496A, #38453C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.lives {


    background: -webkit-linear-gradient( -60deg,#CF9BDD, #A560D2, #534FBD, #40496A, #38453C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  

}

.psych-tag {

    color: #6944e1;

}

.up-tag {

    color: #831fe3;

}





.right-div {

    
    width: 100%;
    height:80vh;
    background-color: none;
  
} 

.web-app-but-mob {




}

.button:hover {
    animation: ani 8s linear infinite;
    border: none;
    }
    
    @keyframes ani {
    0% {
    background-position: 0%;
    }
    
    100% {
    background-position: 400%;
    }
    }
    
    .button {
    height: 35px;
    width: 140px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 1.5px solid #252525;
    overflow: hidden;
    border-radius: 10px;
    color: #222222;
    transition: all 0.8s ease-in-out;
    font-family: 'coolvetica';
    transition: 0.4s;
    
   
    }
    
    .button:active {
    scale: 1.1;
    }
    
    .btn-txt-mob {

    z-index: 1000;
    font-weight: 100;
    font-size: 15px;
    color: #333

    }
    
    .type1-mob::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: 0;
    
    }
    
    .button:hover {
    box-shadow: 1px 1px 200px #ffffff;
    color: #000000;
    border: none;
    }
    
    .type1-mob:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
    
    
    }
    

   